extends layouts/main
include mixins/resumeBlock

block content
    .apply__container
        form(action=routes.apply(id) method="post")
            each resume in user.resumes 
                +resumeBlock({
                    id:resume.id,
                    name:resume.name,
                    image:resume.imgUrlOne,
                    creator:resume.creator,
                })
                input(type="radio", name="myResumes", value=resume.id)
            input(type="submit", value="지원하기")
        button(onclick="history.back()") 취소