extends layouts/main

block content
    .form-container
        form(action=routes.editResume(resume.id), method="post")
            input(type="text", placeholder="이름", name="name", value=resume.name)
            select(name="birth")
                - var y = (new Date().getFullYear());
                while y >= 1900
                    option(value=y)= y--
            textarea(name="description", placeholder="설명")=resume.description
            input(type="submit", value="수정 완료")