extends layouts/main
include mixins/resumeBlock

block content
    form(action=routes.list(recruit.id), method="get")
        if keywords.includes('A')
            input(type="checkbox", id="keywordA", name="k", value="A" checked)
        else
            input(type="checkbox", id="keywordA", name="k", value="A")
        |귀여운
        if keywords.includes('B')
            input(type="checkbox", id="keywordB", name="k", value="B" checked)
        else 
            input(type="checkbox", id="keywordB", name="k", value="B")
        if recruit.gender == "Female"
            |섹시한
        else
            |듬직한
        if keywords.includes('C')
            input(type="checkbox", id="keywordC", name="k", value="C" checked)
        else
            input(type="checkbox", id="keywordC", name="k", value="C")
        if recruit.gender == "Female"
            |우아한
        else
            |섹시한
        if keywords.includes('D')
            input(type="checkbox", id="keywordD", name="k", value="D" checked)
        else
            input(type="checkbox", id="keywordD", name="k", value="D")
        if recruit.gender == "Female"
            |청순한
        else
            |시크한
        if keywords.includes('E')
            input(type="checkbox", id="keywordE", name="k", value="E" checked)
        else
            input(type="checkbox", id="keywordE", name="k", value="E")
        if recruit.gender == "Female"
            |풋풋한
        else
            |터프한
        input(type="submit",value="적용")
    .list
        each resume in resumeList
            +resumeBlock({
                id:resume.id,
                name:resume.name,
                image:resume.imgUrlOne,
                creator:resume.creator,
            })