extends layouts/main
include mixins/recruitBlock

block content
    .search__header
        h3 검색결과: #{searchingBy}
    .search__recruits
        if recruits.length === 0
            h5 No recruits Found
        each item in recruits
            +recruitBlock({
                title:item.title,
                views:item.views,
                id: item.id
            }) 