extends layouts/main

block content
    .form-container
        form(action=`/recruits${routes.uploadRecruit}`, method="post")
            input(type="text", placeholder="제목", name="title", required=true)
            input(type="radio", id="Male", name="userGender", value="Male")
            label(for="Male")|남자
            input(type="radio", id="Female", name="userGender", value="Female")
            label(for="Female")|여자
            input(type="text", placeholder="배역", name="part", required=true)
            input(type="date", id="deadline", name="deadline", value=(new Date()), min="1900-01-01", max="3000-12-31")
            textarea(name="description", placeholder="설명", required=true)
            input(type="submit", value="작성 완료")