@keyframes flashAnimation{
    0%{
        transform: translateY(30em);
    }
    5%{
        transform: translateY(0em);
    }
    90%{
        transform: translateY(0em);
    }
    100%{
        transform: translateY(30em);
    }
}

.flash-message__container{
    position: fixed;
    bottom: 5%;
    left: 5%;
    z-index: 9;
    padding: 1.250em;
    border-radius: 1.563em;
    width: 20em;
    text-align: center;
    box-shadow: 0 0.63em 1.88em rgba(0, 0, 0, 0.12), 0 0.063em 0.125em rgba(0, 0, 0, 0.24);
    animation: flashAnimation 3s ease-in-out forwards;
    &.error{
        background: #333333;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &.success{
        background: #11998e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &.info{
        background: #CAC531;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .flash-message__text{
        color: white;
        font-weight: 300;
        font-size: 0.875em;
    }
}